# This is an example of a .env file for a Node.js application using Express and MongoDB.
# Copy this file to .env and fill in the values as needed.
DB_CONNECTION_STRING=mongodb://root:secret@mongo:27017/graphql-api-db?authSource=admin
MONGO_USER=root
MONGO_PASSWORD=secret
NODEJS_EXPRESS_PORT=8081
JWT_SECRET="your_secret_here"
MOVIES_CSV_PATH=/app/archive/movies_metadata.csv
ACTORS_CSV_PATH=/app/archive/credits.csv
RATINGS_CSV_PATH=/app/archive/ratings_small.csv
BCRYPT_SALT_ROUNDS=10
DOCKER=true
